ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
cursor: pointer;

}

body{

    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}
    .page-address {
        font-family: "Roboto", sans-serif;
    color: #434455;
    font-style: normal;
    }
.page-logo {
    font-family: "Raleway", sans-serif;

    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.page-logo-second {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.text-italic {
    font-style: italic;
    color: #4d5ae5;
}

.menu-link {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
color: #2e2f42;
}

.menu-link:hover {
    color: #404bbf;
}

.menu-link:focus {
    color: #404bbf;
}

.menu-item{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.adress-link {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.adress-link:hover {
    color: #404bbf;
}

.adress-link:focus {
    color: #404bbf;
}

.main-text {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.07;
color: #fff;
}

.button-service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #fff;
    background-color: #4d5ae5;
}

 .button-service:hover{
    background-color: #404bbf;
 }
 .button-service:focus{
    background-color: #404BBF;
 }

.first-section {
    background-color:#2e2f42;
}

.benefits-section{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
background-color: #F4F4FD;
}

.text-benefits-section{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-transform: capitalize;
}

.benefits-list{
    background-color: #FFFFFF
}

.page-people-information{
    background-color: #F4F4FD;
}

.comands-people-information {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.11;
color: #2e2f42;
text-transform: capitalize;
}

.comands-list{
background-color: #FFFFFF;

}

.names-comand{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.2;
    color:#2e2f42;
}

.information-our-team{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.portfolio {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}

.portfolio-information{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.names-branches{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.logo-in-footer{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
line-height: 1.17;
text-transform: uppercase;
color: #4d5ae5;
}

.page-logo-second-footer{
    color: #f4f4fd;
}

.last-section{
    background-color:#2e2f42;
}

.footer-text-information{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}