h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;

}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
cursor: pointer;

}

img{
    display: block;
}

body{

    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.container {
    padding-left: 156px;
    padding-right: 156px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;

}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.page-header-container {
display: flex;
justify-content: space-between;

}
    .page-address {
        font-family: "Roboto", sans-serif;
    color: #434455;
    font-style: normal;
    }
    .page-navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        display: flex;
        column-gap: 40px;
        gap: 40px;
    }



.page-logo {
    font-family: "Raleway", sans-serif;

    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.page-logo-second {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.text-italic {
    font-style: italic;
    color: #4d5ae5;
}

.menu-link {
 display: block;
 padding-top: 30px;
 padding-bottom: 30px;  
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
color: #2e2f42;
padding: 24px 0;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}



.menu-link:hover,
.menu-link:focus,
.menu-link.current
 {
    color: #404bbf;
}


.menu-item{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    box-shadow:(0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1 , 0.08);
}

.address-list{
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.adress-link {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
display: flex;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.adress-link:hover {
    color: #404bbf;
}

.adress-link:focus {
    color: #404bbf;
}

.main-text {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.07;
color: #fff;
max-width: 496px;
}


 .button-service:hover{
    background-color: #404bbf;
 }
 .button-service:focus{
    background-color: #404BBF;
 }

.first-section {
    background-color:#2e2f42;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 188px 0;
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./images/background/people-office.jpg) ; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-service {
    min-width: 169px;
    height: 56px;
    padding: 21px 33px;
    display: block;
  
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;    
    color: #fff;
    border: none;
    background-color: #4d5ae5; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-container{
padding-top: 260px;
padding-bottom: 472px;
padding-left: 472px;
padding-right: 472px;

}


.section-second{
    padding: 120px 0;
}

.benefits-section{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
background-color: #F4F4FD;
margin-bottom: 8px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container-benefits-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd; 
    border-radius: 4px; 
    border: 1px solid #8e8f99;
    margin-bottom: 8px; 

  }

.text-benefits-section{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-transform: capitalize;
}


.benefits-list{
    background-color: #FFFFFF;
    display: flex;
    gap: 24px; 

}

.page-people-information{
    background-color: #F4F4FD;
}

.comands-people-information {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.11;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.benefits-item{
    width: calc((100% – 72px)/4); 

}


.list-comands{
    display: flex;
    column-gap: 24px;
    gap: 24px;
}

.comands-list{
    width: 360px;
    border-radius: 0px 0px 4px 4px;
}

.name-and-work{
    padding: 32px 0;
}

.names-comand{
    text-align: center; 
    margin-bottom: 8px;
}

.section-paddings{
    padding-top: 120px;
    padding-bottom: 120px;
}

.comands-list{
background-color: #FFFFFF;
width: calc((100% - 72px)/4); 
}

.names-comand{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.2;
    color:#2e2f42;
}

.information-our-team{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;

}

.our-team-pages-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd; 
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.our-team-pages{
    display: block;
    line-height: 0;
    fill: none;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-pages:hover,
.our-team-pages:focus{
    stroke: #31d0aa;
}

.our-team-pages-list{
    display: flex;
    justify-content: center;
    gap: 24px; 
}

.our-team-pages-item{
    width: 40px;
    height: 40px;

}

.our-team-href-pages{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.our-team-href-pages:hover{
    background-color: #404bbf;
    background-color: #404bbf;
}

.svg-team-pages{
    fill:#f4f4fd;
    
}

.section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.portfolio-overlay{
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-container{
    position: relative;
    overflow: hidden;
}
.portfolio-overlay-container:hover .portfolio-overlay{
   transform: translateY(0);
}

.paragraf-overlay{
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
}

.portfolio-information{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}



.portfolio-list{
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
}

.portfolio-item{
    width: calc((100% - 48px)/3);
}

.container-names-app{

    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}


.names-branches{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.logo-in-footer{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
line-height: 1.17;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
}

.page-logo-second-footer{
    color: #f4f4fd;
}

.last-section{
    background-color:#2e2f42;
    padding: 100px 0;
}


.footer-text-information{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px 
}