h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;

}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
cursor: pointer;

}

img{
    display: block;
}

html,body{
    margin: 0;
    padding: 0;
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }





.page-header {
    border-bottom: #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
      margin: 0;
}


.page-header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;

   
}
    .page-address {
    font-style: normal;
    margin-left: auto;

   
    }

   
  .page-address, .menu-link {
    display: none;}
    
    .page-navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   

    


    


.open-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #111;
    line-height: 0;
    display: block;
}
.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}



.page-logo-second {
    color: #2e2f42;
}

.text-italic {
    font-style: italic;
    color: #4d5ae5;
}




.open-menu-btn{
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
}


 /* версия на планшет */
@media screen and (min-width: 768px ){

    .container {
        max-width: 768px;
      }

      .page-header-container{
        padding-top: 24px;
        padding-bottom: 24px;
      }

    .open-menu-btn{
        display: none;
    }
   
   .menu{
    display: flex;
    margin-left: 120px;
    gap: 40px;
    
   }

   
   .menu-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .menu-link:focus,.menu-link:hover{
    color: #404bbf;
   }

   .menu-link.current{
    position: relative;
    color: #404bbf; 
   }

  .page-address{
    display: flex;
  }

  
  

  .adress-link{
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adress-link:hover,.adress-link:focus{
    color: #404bbf;
  }
  
  .menu-link {
    display: block;}
}

@media screen and (min-width: 1158px ){


    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .page-header-container{
        padding-top: 24px;
        padding-bottom: 24px;
      }

    .open-menu-btn{
        display: none;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        align-items: center;
      
    }
    .adress-link{
        margin-left: 40px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .menu-link{
        display: flex;
    }
    .menu-link.current{
        position: relative;
        
       }
       .menu-link.current::after{
        content: '';
        width: 100%;
        height: 4px;

        position: absolute;

        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
        
       }


}


.main-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 216px;
    margin: 0 auto;
   
    margin-bottom: 72px;
}



 .button-service:hover{
    background-color: #404bbf;
 }
 .button-service:focus{
    background-color: #404BBF;
 }

.first-section {
    background-color:#2e2f42;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/people-office.jpg) ; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-service {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    
  
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;    
    color: #fff;
    border: none;
    background-color: #4d5ae5; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    /* версия на планшет */
    @media screen and (min-width:768px ){

        .first-section{
            max-width: 768px;
            padding-top: 112px;
            padding-bottom: 112px;
        }


        .hero-container{
            align-items: center;
          
         

        }

        .main-text{
           width: 496px;
            padding-top: 112px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07143;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
           
        }

       
        
     
         
            
    }

      /* версия на пк */
  @media screen and (min-width:1158px ){

    .first-section{
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    
 

    .hero-container{
        align-items: center;
      
     

    }
    .main-text{
        max-width: 496px;
        
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
    }
    .button-service{
        margin-top: 48px;
        margin-bottom: 188px;
    }
   


  }



.section-second{
   padding-top: 96px;
   padding-bottom: 96px;
    text-align: center;
}

.benefits-section{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;

margin: 0;
  padding: 0;
}




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  
  .benefits-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    
    
  }
  
  .benefits-item {

    
    width: 100%;
    
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    
  }
  
  .container-benefits-icons {
   
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .benefits-content {
    text-align: center;
   
    
  }
  
  .benefits-section {
    margin: 10px 0 5px;
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  
  .text-benefits-section {
    margin: 0;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: left;
    
  }
/* версия на телефон*/
  @media screen and (max-width:768px ){
    .container-benefits-icons{
        display: none;
    }
  }
    /* версия на планшет */
    @media screen and (min-width:768px ){

    .container-benefits-icons{
        display: none;
    }
    .benefits-item{
        width: calc((100% - 24px) /2 ); /* Две карточки в ряду на планшете */
    }
    .benefits-section{
        text-align: left;
    }
   
    .benefits-container{
       
        height: 312px;
       
    }
  }

  /* версия на пк */
  @media screen and (min-width:1158px ){

    .benefits-list{
        gap: 24px;
    }

    .benefits-item{
        width: calc((100% - 72px) / 4);
      
    
    }

    

    .benefits-section{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
    }
    .text-benefits-section{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
        
    }

    .container-benefits-icons{
        display: flex;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        justify-content: center;  
        align-items: center;
        
        
    }


    .benefits-content{
        width: 264px;
      
    }

    .benefits-container{
      
        height: 224px;
    }
  }
  
 .page-people-information {
  padding: 60px 0;
  background-color: #F4F4FD;

}





.comands-people-information {
  text-align: center;
  font-size: 40px;
  margin-bottom: 72px;
  margin-top: 30px;
  color: #2e2f42;
  font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
}

.list-comands {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 74px 24px;
}

.comands-list {
 
    border-radius: 0 0 4px 4px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 264px;
  height: 428px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;

}

.comands-list img {
  width: 100%;
  height: auto;
}

.name-and-work {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  
}

.names-comand {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.information-our-team {
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.2;
  color: #2e2f42;
}

.list-pages-people{
    display: flex;
    justify-content: center; 
    gap: 24px;

}

.item-pages-people{
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
}

.link-pages-people{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-pages-people:hover{
    background-color: #404bbf;
}

.link-pages-people:focus{
    background-color: #404bbf; 
}

.svg-pages-people{
    fill:#f4f4fd;

}

/* версия на планшет */
@media screen and (min-width:768px ){

    .comands-list{
        width: calc((100% - 24px) 2 2);

    }
  }

    /* версия на пк */
    @media screen and (min-width:1158px ){

     

        .comands-list{
            width: calc((100% - 72px) 2 4);
        }
    }




.section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
   

}



.portfolio {
   
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;

}

.portfolio-overlay{
    
    position: absolute;
    top: 0;
    left: 0;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px; 
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-container{
    position: relative;
    overflow: hidden;
    
}


.paragraf-overlay{
    transform: translateY(100%);
    position: absolute;
    top: 0;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

li:hover p{
transform: translateY(0%);
}

.portfolio-information{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
margin-bottom: 8px;
}




.portfolio-list{ 
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
   
}

.portfolio-item{
    width: 100%;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}



.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.container-names-app{

    padding: 32px 16px;
    border: #e7e9fc;
    border-top: none;

}


.names-branches{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

  /* версия на планшет */
  @media screen and (min-width:768px ){

    .portfolio-item{
        width: calc((100% - 24px)/2);

    }
    .portfolio-list{
        gap: 72px 24px;
    }
  }

    /* версия на пк */
    @media screen and (min-width:1158px ){

        .portfolio-item{
            width: calc((100% - 48px) 2 3);
            max-width: 360px;
            max-height: 420px;
          
        }

        .portfolio-list{
            gap: 48px 24px;

        }
        
    }


  
.container-footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    gap: 72px;
    padding-top: 96px;
  

}

.container-footer-media{
    text-align: center;
   
   

}



.logo-in-footer{
    font-family: "Raleway", sans-serif;
    display: flex; 
    display: inline-block; /* Для корректного центрирования внутри родителя */
  margin: 0 auto;
    
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
line-height: 1.17;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;

}

.text-social-media{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
    margin-bottom: 16px;
    text-align: center;

}

.page-logo-second-footer{
    color: #f4f4fd;
}

.last-section{
    background-color:#2e2f42;
    padding-top: 96px 0;
   
    
}

.list-footer-pages{
    display: flex;
    gap: 16px; 
}

.item-footer-pages{
    width: 40px; 
    height: 40px; 
}

.link-footer-pages{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.link-footer-pages:hover{
    background-color: #31d0aa; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.link-footer-pages:focus{
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}


.svg-footer-pages{
    fill: #f4f4fd; 
}

.footer-text-information{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px ;
    text-align: left;

}



.paragraf-footer-form{
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.form-footer-form{
    display: flex;
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    gap: 24px;
    
    align-items: center;
    justify-content: center;
}



.review-footer-form{
   
    align-items: center;
}

.input-footer-form{
    
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #fff;
    width: 264px; /* Установите нужную ширину */
    padding: 10px;
   
 

}



.button-footer-form{
    width: 165px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em ;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    
    

}

.svg-in-button-form-footer{
    margin-left: 16px; 
    fill:#F4F4FD;

}


/* версия на планшет */
@media screen and (min-width:768px ){

    .text-social-media,.container-footer-media{
        text-align: left;
    }

    .last-section{
        height: 456px;
    }

    .container-footer{
        display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    gap: 72px;
    padding-left: 108px;
    padding-top: 96px;
   
    }

  
    .footer-container {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #1c1c2b; /* Это должен быть ваш цвет фона */
    }

    .footer-logo,
    .footer-social-media,
    .footer-subscribe {
        width: 100%;
        max-width: 300px; /* Подгоните под ваши нужды */
        margin-bottom: 20px;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-social-media {
        display: flex;
        justify-content: space-around;
    }

    .footer-social-media a {
        margin: 0 10px;
    }


    .paragraf-footer-form{
        text-align: left;
    }
    

    .footer-subscribe {
        display: flex;
        justify-content: center;
    }

    .footer-subscribe input[type="email"] {
        width: 70%;
        max-width: 200px;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .footer-subscribe button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #3b82f6; /* Это должен быть ваш цвет кнопки */
        color: white;
        cursor: pointer;
        
    }

    .form-footer-form{
        display: flex;
        flex-direction: row;
       
        justify-content: left;
    }
}

/* версия на пк */
@media screen and (min-width:1158px ){

 
    .container-footer{
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        margin-left: auto;
        padding-top: 100px;
        align-items: baseline;
    }


    .last-section{
        height: 312px;
    }

    .form-footer-form{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .paragraf-footer-form{
        text-align: left;
    }

    .footer-text-information{
        width: 264px;
    }
    
}

/*========== BACKDROP STYLES ========*/
.backdrop{
    position: fixed;
    top:0;  
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    height: 623px;
    border-radius: 4px;
    background: #fcfcfc; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    padding: 72px 24px 16px 16px; 



}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%; 
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex; 
    justify-content: center;
    align-items: center;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
background-color: #404bbf;
border: none; 
}


.modal-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover > .modal-close-btn-icon,
.modal-close-btn:focus > .modal-close-btn-icon{
    fill: #ffffff;
}

.review-form-description{
   max-width: 360px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;

}

.review-form-field-label{
  
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px; 
    
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4D5AE5; 

}

.review-form-input{
    width: 100%; 
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    color: black;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

   
}

.review-form-input:focus{
    border-color: #4D5AE5; 
}

.review-form-input:focus > .review-form-field-icon{
    fill: #4D5AE5;
}



.review-form-field-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.review-form-input-wrapper{
    position: relative;

}

.review-form-field-icon{
    position: absolute;
    top:50%;
    left: 16px;
    transform: translateY(-50%);

}

.review-form-message{
    width: 100%;
    height: 120px;
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent; 
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.review-form-message:focus{
    border-color: #4D5AE5; 
}

.review-form-field-wrapper{
    margin-bottom: 8px; 
}

.input:focus +svg{
    fill: #4D5AE5; 
}

.review-form-field-wrapper-checkbox{
    margin-bottom: 16px;
}

.review-form-checkbox-wrapper{
    margin-bottom: 24px;
}



.review-form-checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99;
    

}



.privacy-policy-link{
    color: #4d5ae5;
    text-decoration: underline;
}

.review-form-submit{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none; transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    border-radius: 4px;
}

input:focus + svg {
    fill: #4D5AE5;
}

.custom-checkbox {
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    display: inline-flex; 
    align-items: center;
    justify-content: center; 
    fill: transparent; 
}
.checkbox:checked + .review-form-checkbox-label > .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

/* версия на планшет */
@media screen and (min-width:768px ){

    .modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px; 
    }
}


/* версия на пк */
@media screen and (min-width:1158px ){

    .modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px; 
    
    }
}


/* mobile menu */

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-right: 16px;
    padding-left: 16px;

    display: flex;
    flex-direction: column;
    height: 100%;

}

.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%; 
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex; 
    justify-content: center;
    align-items: center;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,.mobile-menu-close:hover{
    background-color: #4d5ae5;;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav{
    margin-bottom: auto;
}

.color-for-nav{
    color: #404bbf;
}

.menu-mobile-item{
    margin-bottom: 40px;
}

.menu-mobile-link{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;

}

.mobile-menu-address-item{
    padding-bottom: 24px;
}

.mobile-address{
    display: flex;
    margin-bottom: 48px;
}

.mobile-menu-adress-link{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
white-space: nowrap; 
font-style: normal;
}

.mobile-menu-adress-link:hover,.mobile-menu-adress-link:focus{
    color: #404bbf;
  }


  .soc-list-menu-mobile{
    display: flex;
    gap: 40px; 

  }

  .soc-item-mobile{
    min-width: 40px; 
    height: 40px; 
  }

  .soc-link-mobile{
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  

  .soc-link-mobile:hover,  .soc-link-mobile:focus{
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  }

  .svg-soc-container-mobile{
    fill:#f4f4fd;
    
  }


.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

@media screen and (min-width:768px ){
    .mobile-menu{
        display: none;
    }
}

@media screen and (min-width:1158px ){
    .mobile-menu{
        display: none;
    }
}
